<!doctype html>
<html>
<head>
  <title>InterNote</title>
  <meta charset="utf-8">
</head>
<body>
  <h2>InterNote</h2>Hello, interNote
  <form action = "/login.do" method="post">
    <input type="text" name="id" placeholder="ID">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="submit" value="로그인">
  </form>
  <br><hr><br>
  <form action = "/join.do" method="post">
    <input type="text" name="id" placeholder="ID">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="text" name="name" placeholder="NAME">
    <input type="submit" value="회원가입">
  </form>
</body>
</html>
